@media screen {
    .header-title {
        font-size: 20px;
        font-weight: 400;
        color: #fff;
        text-decoration: none;
    }
    .header-buttons {
        font-size: 20px;
        font-weight: 400;
        color: #fff;
        text-decoration: none;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .header-buttons1 {
        font-size: 20px;
        font-weight: 400;
        color: #fff;
        text-decoration: none;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        margin-right: -59px;
    }
}